@font-face {
  font-family: 'TaraType';
  src: url(../../assets/font/TaraType.ttf) format('truetype');
}

* {
  font-family: TaraType;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/img/cherry_tree_1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
}

.attr-roll-button {
  background-image: url("../../assets/img/d10.png");
  background-size: cover;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
}

.container {
  background: inherit;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    background: inherit;
}

.checkbox {
  display: inline-block;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid;
    border-radius: 50%;
    transition: all 0.2 ease;
    margin-right: -15px;
    vertical-align: -3px;
}

.checkbox label::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid;
    border-radius: 50%;
    background: black;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.health-levels {
  width: 16px;
}

.add-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../../assets/img/add_plus-512.png");
  background-size: cover;
  outline: none;
  border: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FAF4EB;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BEBEBE;
}

.charm-name {
  width: 12em;
}

.charm-type {
  width: 5em;
}

.charm-duration {
  width: 5em;
}

.charm-cost {
  width: 5em;
}

.charm-book {
  width: 5em;
}

.charm-page {
  width: 5em;
}

.charm-effect {
  width: 20em;
}

.general {
  width: 5em;
  text-align: center;
}

.two-width {
  width: 2em;
  text-align: center;
}

.one-width {
  width: 1em;
  text-align: center;
}

#roll-history-bar {
  position: fixed;
  z-index: 1;
  width: 300px;
  top: 75px;
  right: -300px;
  height: 80%;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

#roll-history-arrow {
  position: absolute;
  right: 300px;
  background: transparent;
  font-size: 50px;
}

#quick-roll {
  background: transparent;
  flex-grow: 0;
  z-index: 2;
}

#dice {
  outline: none;
}

#doubles {
  outline: none;
}

#quick-roll-button {
  outline: none;
}

#roll-history {
  background: transparent;
  flex-grow: 1;
  list-style-type: none;
  overflow-y: auto;
  line-height: 25px;
  z-index: 2;
}

#roll-history::-webkit-scrollbar {
  width: 7px;
}

#roll-history::-webkit-scrollbar-track {
  background-color: #FAF4EB;
}

#roll-history::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #D9D9D9;
}

#back-button {
  background-image: url("../../assets/img/back_arrow.png");
  background-size: cover;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
}

#download-button {
  background-image: url("../../assets/img/down_arrow.jpg");
  background-size: cover;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
}

#load-button {
  background-image: url("../../assets/img/up_arrow.jpg");
  background-size: cover;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
}

#char-name {
  width: 85%;
  font-size: 40px;
}

#notes-area {
  background: transparent;
  outline: none;
  width: 98%;
  height: 100px;
  border: 1px solid black;
  resize: none;
}