@font-face {
  font-family: 'TaraType';
  src: url(../../assets/font/TaraType.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: TaraType;
  /*background: #FEFFED;*/
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../../assets/img/cherry_tree_1.jpg");
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FAF4EB; /*#FAF4EB*/
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BEBEBE;
}

#title {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 10vh;
}

#list {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  font-size: 5vh;
}

#button-div {
  text-align: center;
  height: 10%;
}

#button {
  height: 100%;
  width: 30%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2em;
}

#button:hover {
  font-size: 2.5em;
}